<section class="container">
    <section class="section-info">
        <div>
        <p>
            We wish to thank all the people
         who help us in cleaning the church last week.
         <br>This week it will be the turn of the st. Vincent the Paul, 
         Immaculate heart of Mary, Altar Server, Block Rsary and 
         Secret heart of Jesus.
        </p><br>
        <hr><br>
        <p>
            On Sunday the will be a mandatory collection,
            let us come prepared and as you come the Lord 
            will bless you.
        </p><br>
        <hr><br>
        <p>
            Parish marriage class holds on monday 28th Jan 2020,
            After 6pm mass. <br>
            Parish Mass wedding is still on going those interested 
            should put down their name with Catechis Jerry.
            <br><hr><br>
            Marriage classes holds <br>
            Mondays and Tuesdays after evening mass.
        </p><br>
        <hr><br>
        <p>
           On tuesday we will be celebrating the memorial
            of st. Paul. <br><hr>
            <br>
            Those of you still interested in the St. Marris form 
            meet Catechis Jerry.
        </p>
        </div>

        <div>
            <hr><br>
            <p>
            ON sunday we will be having our general thanks giving 
        </p>
            <br>
        <hr><br>
            <p>
                Daughters of Charity are still the selling their calender 
                for 2020 and the price is N500
            </p><br>
            <hr><br>
            <p>
                <b>Redemption</b>: <br>
                Annonymous N6000, Oge N10000, Mrs Edet N5000 
                Cyril N10000.
                <br><br>
                We thank Parishoners for their redemption and we appeal
                 to other who are yet to fulfil their pleadges to kindly
                  fulfil our pleadges.
            </p><br><hr>
            <br>
            <p>
                The Prish choir is thanking all parishoners especially their 
                patron and patroness for the support giving to them last year 
                and she is pleading most us to continue to support.
            </p><br>
            <hr><br>
            <p>
                Ministers of Hospitality are still soliciting for members.
            </p>
        </div>
    </section>


    <section class="section-info">
        <div>
            <hr><br>
            <h2>PARISH ACCOUNT NUMBERS</h2>
            <p>
             Bank: 			UNION BANK <br>
Account Name: 	Christ The King Catholic Church <br>
Account Number:  	0026264964 
            </p><br>
            <hr>
        </div>
        <div>
            <hr><br>
            <p>
                Bank: 			UBA <br>
Account Name: 	Christ The King Catholic Church <br>
Account Number: 	1011263938
            </p><br><hr><br>
            Union Bank POS available at the Parish Office
        </div>
    </section>
    <div class="church-footer">
        <p><b>Have you considered to build a house for the Lord?
             Make a decision; take a wise step and contribute to
              the building of a befitting 
            dwelling place for the Lord. You will be richly blessed.</b></p>
    </div>
</section>