<div class="container">
    <h1>Daily Reading</h1>
<section class="section-info">
    <div class="">
<h2>12, Jan 2020</h2><br>
        <img src="./css/bg/session1.jpeg" alt="">
        <h1>Today's Reading</h1>
        <h3>First Reading</h3>
            <p>
             <q>Behold my servant, my chosen one, in whom my soul delights.</q> <br>
            <span>
             A reading from the Book of Isaiah (Isaiah 42: 1-4.6-7).
            </span>
            </p>
            <br>
                <p class="mb-1">
                    Thus says the Lord: Behold my servant, whom I uphold, 
        chosen, in whom my soul delights; I have put my
         Spirit upon him, he will bring forth justice to
          the nations. He will not cry or lift up his voice,
           or make it heard in the street; a bruised reed he
            will not break, and a dimly burning wick he will not
         quench; he will faithfully bring forth justice. He
         will not fail or be discouraged till he has 
         established justice in the earth; and the islands
               wait for his law. “I am the Lord, I have called 
               you in righteousness, I have taken you by the hand
         and kept you; I have given you as a covenant to the people,
          a light to the nations, to open the eyes that are blind,
           to bring out the prisoners from the dungeon,
         from the prison those who sit in darkness.”
                </p>
        <p>The word of the Lord.</p>
        
        <p>
            <span>RESPONSORIAL PSALM Psalm 29: la and 2.3ac-4.3b and 9c- 10(R. 11b)</span>
        </p><br>
        <p>
            R/<span>The Lord will bless his people with peace</span>
        </p><br>
        <p>Ascribe to the Lord, you heavenly powers,<br>
        ascribe to the Lord the glory of his name;<br>
        bow down before the Lord, majestic in holiness. R/.
        </p><br>

    </div>
    <div>
        <p>The voice of the Lord upon the waters,<br>
        the Lord on the immensity of waters;<br>
        the voice of the Lord full of power;<br>
        the voice of the Lord full of splendour. R/.
        </p><br>
<p>The God of glory thunders;<br>
        in his temple they all cry, “Glory!”<br>
        The Lord sat enthroned above the flood;<br>
         the Lord sits as king forever. R/.
        </p><br>
      <h3>SECOND READING</h3>
“God anointed him with the Holy Spirit. ”<br>
<span>A reading from the Acts of the Apostles  (Acts 10:34-38)</span>
In those days: Peter opened his mouth and said,
 “Truly I perceive that God shows no partiality,
  but in every nation any one who fears him and
   does what is right is acceptable to him. You
    know the word which he sent to the sons of
     Israel, preaching good news of peace by Jesus
      Christ (he is Lord of all), the word which
       was proclaimed throughout all Judea, beginning
        from Galilee after the baptism 
which John preached: how God anointed Jesus
of Nazareth with the Holy Spirit and with power;
 how he went about doing good and healing all that were oppressed
 by the devil, for God was with him.” 
 <p>The word of the Lord.</p><br>
 <p><b>ALLELUIA Cf. Mark 9:6</b><br>
    Alleluia. The heavens opened and the Father’s voice was heard:
     “This is my beloved Son, listen to him.” Alleluia.</p>
     <br><br>
<h3>GOSPEL</h3>
<p>“When Jesus was baptised the heavens were opened and the Spirit of God came upon him. ”
<br>
<span>A reading from the holy Gospel according to Matthew (Matthew 3: 13-17)</span>
</p>
<p>At that time: Jesus came from Galilee to the Jordan to John,
     to be baptised by him. John would have prevented him, saying,
      “I need to be baptised by you, and do you come to me?”
       But Jesus answered him, “Let it be so now; for thus it
        is fitting for us to fulfil all righteousness.” Then
         he consented. And when Jesus was baptised, he went
          up immediately from the water, and behold, the heavens
           were opened and he saw the Spirit of God descending like
            a dove, and alighting on him; and behold, a voice from
             heaven, saying,
     “This is my beloved Son, with whom I am well pleased.”</p>
     <p>The Gospel of the Lord</p>  

    </div>
</section>
</div>