<section class="container">
    <h1>PARISH PROGRAM FOR 2020</h1>
    <section class="section-info">
        <div>
    <table>
        <tr class="th-border">
            <th class="table-monthly2">Date</th>
            <th class="table-monthly2">Events For February</th>
        </tr>    
        <tr class="th-border">
            <td>Jan. 20th – 24th </td>
            <td>Beginning of the year retreat</td>
        </tr>
        <tr>
            <td>February 1st Saturday</td>
            <td>First Saturday</td>
        </tr>
        <tr>
            <td>Feb. 2nd Sunday</td>
            <td>Presentation of the Lord/ Thanksgiving Sunday</td>
        </tr>
        <tr>
            <td>Feb. 7th Friday</td>
            <td>FIRST FRIDAY ADORATION</td>
        </tr>
        <tr>
            <td>Feb. 11th, 12th, 13th</td>
            <td>Seminar for couples and youth </td>
        </tr>
        <tr>
            <td>Feb. 14th Friday</td>
            <td>St. Valentine’s Day celebration </td>
        </tr>
        <tr>
            <td>Feb. 16th Sunday</td>
            <td>Third Sunday (DOCTRINAL CLASS)</td>
        </tr>
        <tr>
            <td>Feb. 26th Wed.</td>
            <td>ASH WEDNESDAY</td>
        </tr>
        <tr>
            <td>Feb. 28th Friday</td>
            <td>Stations of the Cross </td>
        </tr>
        <tr>
            <td>Feb. 28th Friday</td>
            <td>PARISH NIGHT VIGIL</td>
        </tr>
    </table>
    <br>
    <br>
    <table>
                <tr>
                    <th class="table-monthly1">Date</th>
                    <th class="table-monthly1">Event For March</th>
                </tr>
                <tr>
                    <td>March 1st Sunday</td>
                    <td>1First Sunday of Lent: General thanksgiving Sunday(Inauguration of Harvest Comtt.)</td>
                </tr>
                
    </table>
        </div>
        <div>
            <table>
                <tr>
                    <td>March 4th Wed.</td>
                    <td>Stations of the Cross </td>
                </tr>
                <tr>
                    <td>March 6th Friday</td>
                    <td>First Friday Adoration (Stations of the Cross)</td>
                </tr>
                <tr>
                    <td>March 7th Saturday</td>
                    <td>First Saturday </td>
                </tr>
                <tr>
                    <td>March 8th Sunday</td>
                    <td>Second Sunday of Lent (Effort Sunday)</td>
                </tr>
                <tr>
                    <td>March 11th Wed.</td>
                    <td>Stations of the Cross</td>
                </tr>
                <tr>
                    <td>March 13th Friday</td>
                    <td>Stations of the Cross</td>
                </tr>
                <tr>
                    <td>March 15th Sunday</td>
                    <td>Third Sunday of Lent (DOCTRINAL CLASS)</td>
                </tr>
                <tr>
                    <td>March 18th Wed.</td>
                    <td>Stations of the cross</td>
                </tr>
                <tr>
                    <td>March 19th Thursday</td>
                    <td>SOLEMNITY OF JOSEPH HUSBAND OF MARY</td>
                </tr>
                <tr>
                    <td>March 20th Friday</td>
                    <td>Stations of the Cross</td>
                </tr>
                <tr>
                    <td>March 22nd Sunday</td>
                    <td>Fourth Sunday of Lent</td>
                </tr>
                <tr>
                    <td>March 25th wed</td>
                    <td>Annunciation Of The Lord (Stations of the Cross)</td>
                </tr>
                <tr>
                    <td>March 27th Friday</td>
                    <td>Stations of the Cross 	(PARISH NIGHT VIGIL)</td>
                </tr>
                <tr>
                    <td>March 29th Sunday</td>
                    <td>Fifth Sunday of Lent (MOTHERS DAY CELEBRATION)</td>
                </tr>
            </table>
        </div>
    </section>
    <section class="section-info">
        <div>
            <table>
                <tr>
                    <th>Date</th>
                    <th>Event For April</th>
                </tr>
                <tr>
                    <td>April 1st Wed.</td>
                    <td>Stations of the Cross</td>
                </tr>
                <tr>
                    <td>April 3rd Friday</td>
                    <td>First Friday Adoration (Stations of the Cross)</td>
                </tr>
                <tr>
                    <td>April 4th Saturday</td>
                    <td>First Saturday</td>
                </tr>
                <tr>
                    <th>HOLY WEEK</th>
                    
                </tr>
                <tr>
                    <td>April 5th Sunday</td>
                    <td>PALM SUNDAY (General thanksgiving Sunday)</td>
                </tr>
                <tr>
                    <td>April 7th to 8th </td>
                    <td>Retreat for candidates for First Holy Communion</td>
                </tr>
                <tr>
                    <td>April 8th Wed.</td>
                    <td>Chrism Mass (Stations of the Cross)</td>
                </tr>
                <tr>
                    <td>April 9th Thursday</td>
                    <td>Holy Thursday (office of the reading in the morning)</td>
                </tr>
                <tr>
                    <td>April 10th Friday</td>
                    <td>Good Friday (office of the reading in the morning)</td>
                </tr>
                <tr>
                    <td>April 11th Saturday</td>
                    <td>Holy Saturday (office of the reading in the morning)</td>
                </tr>
                <tr>
                    <td>April 12th Sunday</td>
                    <td>EASTER SUNDAY (EFFORT SUNDAY)</td>
                </tr>
                <tr>
                    <td>April 19th Sunday</td>
                    <td>Second Sunday of Easter (DOCTRINAL CLASS)</td>
                </tr>
                
            </table>
        </div>
        <div>
            <table>
                <tr>
                    <td>April 24th Friday</td>
                    <td>PARISH NIGHT VIGIL</td>
                </tr>
            </table>
            <br><br>
            <table>
                <tr>
                    <th class="table-monthly2">Date</th>
                    <th class="table-monthly2">Event For May</th>
                </tr>
                <tr>
                    <td>May 1st Friday</td>
                    <td>FIRST FRIDAY ADORATION (May Devotion begins)</td>
                </tr>
                <tr>
                    <td>May 2nd Saturday</td>
                    <td>First Saturday</td>
                </tr>
                <tr>
                    <td>May 3rd Sunday</td>
                    <td>General Thanksgiving Sunday</td>
                </tr>
                <tr>
                    <td>May 10th Sunday</td>
                    <td>PARISH EFFORT SUNDAY </td>
                </tr>
                <tr>
                    <td>17th May</td>
                    <td>(DOCTRINAL CLASS)</td>
                </tr>
                <tr>
                    <td>May 21st Thursday</td>
                    <td>ASCENSION OF OUR LORD (Pentecost novena begins)</td>
                </tr>
                <tr>
                    <td>May 24th – 30th</td>
                    <td>PARISH YOUTH WEEK</td>
                </tr>
                <tr>
                    <td>May 29th Friday</td>
                    <td>PARISH NIGHT VIGIL</td>
                </tr>
                <tr>
                    <td>May 31st Sunday</td>
                    <td>PENTECOST SUNDAY (Parish Children’s Day)</td>
                </tr>
            </table>
        </div>
    </section>
    <section class="section-info">
        <div>
            <table>
                <tr>
                    <th class="table-monthly1">Date</th>
                    <th class="table-monthly1">Event for June</th>
                </tr>
                <tr>
                    <td>June 5th Friday</td>
                    <td>First Friday Adoration</td>
                </tr>
                <tr>
                    <td>June 6th Saturday</td>
                    <td>Frist Saturday</td>
                </tr>
                <tr>
                    <td>June 7th Sunday</td>
                    <td>Solemnity of Blessed Trinity (Parish General thanksgiving)</td>
                </tr>
                <tr>
                    <td>June 14th Sunday</td>
                    <td>Corpus Christi Feast (EFFORT SUNDAY)</td>
                </tr>
                <tr>
                    <td>June 19th Friday</td>
                    <td>Feast of Sacred Heart of Jesus</td>
                </tr>
                <tr>
                    <td>June 21st Sunday</td>
                    <td>DOCTRINAL CLASS</td>
                </tr>
                <tr>
                    <td>June 24th Wed.</td>
                    <td>Solemnity of the Birth of John De Baptist</td>
                </tr>
                <tr>
                    <td>June 26th Friday</td>
                    <td>PARISH NIGHT VIGIL</td>
                </tr>
                <tr>
                    <td>June 29th Monday</td>
                    <td>Solemnity of Peter and Paul</td>
                </tr>
            </table>
        </div>
        <div>
            <table>
                <tr>
                    <th>Date</th>
                    <th>Event For July</th>
                </tr>
                <tr>
                    <td>July 3rd Friday</td>
                    <td>First Friday Adoration</td>
                </tr>
                <tr>
                    <td>July 4th Saturday</td>
                    <td>Frist Saturday</td>
                </tr>
                <tr>
                    <td>July 5th Sunday</td>
                    <td>Parish General Thanksgiving</td>
                </tr>
                <tr>
                    <td>July 12th Sunday</td>
                    <td>PARISH EFFORT SUNDAY(Second Sunday Of The Month)</td>
                </tr>
                <tr>
                    <td>July 19th Sunday</td>
                    <td>DOCTRINAL CLASS</td>
                </tr>
                <tr>
                    <td>July 24th Friday</td>
                    <td>YOUTH NIGHT OF PRAISE</td>
                </tr>
                <tr>
                    <td>July 31st Friday</td>
                    <td>PARISH NIGHT VIGIL</td>
                </tr>
            </table>
        </div>
    </section>
<section class="section-info">
    <div>
        <table>
            <tr>
                <th class="table-monthly2">Date</th>
                <th class="table-monthly2">Event For August</th>
            </tr>
            <tr>
                <td>August 1st Saturday</td>
                <td>First Saturday</td>
            </tr>
            <tr>
                <td>August 2nd Sunday</td>
                <td>Parish General Thanksgiving</td>
            </tr>
            <tr>
                <td>August 6th Thursday</td>
                <td>Feast of Transfiguration</td>
            </tr>
            <tr>
                <td>August 7th Friday</td>
                <td>First Friday Adoration</td>
            </tr>
            <tr>
                <td>August 9th Sunday</td>
                <td>Children Youth Harvest</td>
            </tr>
            <tr>
                <td>August 15th Saturday</td>
                <td>Assumption of the Blessed Virgin Mary (holy day of obligation)</td>
            </tr>
            <tr>
                <td>August 16th Sunday</td>
                <td>Doctrinal Class</td>
            </tr>
            <tr>
                <td>August 22nd Saturday</td>
                <td>QUEENSHIP OF MARY</td>
            </tr>
            <tr>
                <td>August 28th Friday</td>
                <td>PARISH NIGHT VIGIL</td>
            </tr>
        </table>
    </div>
    <div>
        <table>
            <tr>
                <th class="table-monthly1">Date</th>
            <th class="table-monthly1">Event For September</th>
            </tr>
            <tr>
                <td>September 4th Friday</td>
                <td>First Friday Adoration</td>
            </tr>
            <tr>
                <td>September 5th Saturday</td>
                <td>First Saturday</td>
            </tr>
            <tr>
                <td>September 6th Sunday</td>
                <td>First Sunday of the month(General thanksgiving Sunday)</td>
            </tr>
            <tr>
                <td>September 8th Tuesday</td>
                <td>Nativity of the Blessed mother Mary</td>
            </tr>
            <tr>
                <td>September 14th Monday</td>
                <td>Feast of the Exaltation of the Cross</td>
            </tr>
            <tr>
                <td>September 20th Sunday</td>
                <td>Doctrinal Class</td>
            </tr>
            <tr>
                <td>September 25th Friday</td>
                <td>PARISH NIGHT VIGIL</td>
            </tr>
        </table>
    </div>
</section>
<section class="section-info">
    <div>
        <table>
            <tr>
                <th>Date</th>
                <th>Event For October</th>
            </tr>
            <tr>
                <td>October 1st Thursday</td>
                <td>Solemnity of Mary Queen of Nigeria/October Devotion</td>
            </tr>
            <tr>
                <td>October 1st</td>
                <td>YOUTH PICNIC</td>
            </tr>
            <tr>
                <td>October 2nd Friday</td>
                <td>First Friday Adoration</td>
            </tr>
            <tr>
                <td>October 3rd Saturday</td>
                <td>First Saturday</td>
            </tr>
            <tr>
                <td>October 4th Sunday</td>
                <td>Parish General Thanksgiving</td>
            </tr>
            <tr>
                <td>October 18th Sunday</td>
                <td>Doctrinal Class</td>
            </tr>
            <tr>
                <td>October 25th Sunday</td>
                <td>PARISH HARVEST</td>
            </tr>
            <tr>
                <td>October 30th Friday</td>
                <td>PARISH NIGHT VIGIL</td>
            </tr>
            </table><br><br>
            <table>
                <tr>
                    <th class="table-monthly2">Date</th>
                    <th class="table-monthly2">Event For November</th>
                </tr>
            <tr>
                <td>November 1st Sunday</td>
                <td>Feast of All Saints (General Thanksgiving)</td>
            </tr>
            <tr>
                <td>November 2nd Monday</td>
                <td>Commemoration of All Souls</td>
            </tr>
            <tr>
                <td>November 6th Friday</td>
                <td>First Friday Adoration</td>
            </tr>
            <tr>
                <td>November 7th Saturday</td>
                <td>First Saturday</td>
            </tr>
            <tr>
                <td>November 15th Sunday</td>
                <td>Doctrinal Class</td>
            </tr>
            
        </table>
    </div>
    <div>
        <table>
            <tr>
                <td>November 22nd Sunday</td>
                <td>Solemnity of Christ the King</td>
            </tr>
            <tr>
                <td>November 29th Sunday</td>
                <td>C.K.C CULTURAL FEAST DAY (first Sunday of advent)</td>
            </tr>
        </table><br><br>
        <table>
            <tr>
                <th class="table-monthly1">Date</th>
                <th class="table-monthly1">Event For December</th>
            </tr>
            <tr>
                <td>December 4th Friday</td>
                <td>First Friday Adoration</td>
            </tr>
            <tr>
                <td>December 5th Saturday</td>
                <td>First Saturday</td>
            </tr>
            <tr>
                <td>December 6th Sunday</td>
                <td>Parish General Thanksgiving(First Sunday of the Month)</td>
            </tr>
            <tr>
                <td>Dec. 7th to 11th</td>
                <td>Parish Crusade begins</td>
            </tr>
            <tr>
                <td>December 13th Sunday</td>
                <td>Thanksgiving Sunday</td>
            </tr>
            <tr>
                <td>December 20th Sunday</td>
                <td>Parish Love Feast / Christmas carol)</td>
            </tr>
            <tr>
                <td>December 24th Thursday</td>
                <td>Christmas Vigil</td>
            </tr>
            <tr>
                <td>December 25th Friday</td>
                <td>NATIVITY OF THE LORD</td>
            </tr>
            <tr>
                <td>December 27th Sunday</td>
                <td>Feast of Holy Family</td>
            </tr>
            <tr>
                <td>December 31st Thursday</td>
                <td>NEW YEAR VIGIL MASS</td>
            </tr>
        </table>
    </div>
</section>
</section>