<section class="container">
    <div class="show-case">
        <h2 class="section-heading">CHRIST THE KING CATHOLIC CHURCH</h2>
        <h3>- THE KING'S FAMILY -</h3>
        <p>- FULL COMMITMENT -</p>
    </div>
</section>

<div class="content container">
    <div>
        <section class="section-info">
            <div class="first-reading-img">
                <h1>Today's Reading</h1>
            </div>
            <div>
                <h3>First Reading</h3>
                <p>
                    <q>Behold my servant, my chosen one, in whom my soul delights.</q> <br>
                    <span>
                        A reading from the Book of Isaiah (Isaiah 42: 1-4.6-7).
                    </span>
                </p>
                <br>
                <p class="mb-1">
                    Thus says the Lord: Behold my servant, whom I uphold, chosen, in whom my soul delights; I have put
                    my
                    Spirit
                    upon him,
                    he will bring forth justice to the nations...
                </p>


                <a href="/daily-reading" class="btn btn-read-more">Read more</a>


            </div>

        </section>

        <section class="section-info">
            <div class="prayer-img">
                <h1>Prayer</h1>
            </div>
            <div>
                <h3>Prayers for Mass</h3>
                <p>
                    <span>
                        Prayer before Mass
                    </span>
                </p>
                <br>
                <p class="mb-1">
                    O God, to whom every heart is open, every desire known 
                    and from whom no secret are hidden;
                   purify the thoughts of our hearts by the inpiration of...
                </p>

                <a href="/prayer" class="btn btn-read-more">Read more</a>


            </div>

        </section>
    </div>
    <aside class="aside-content ">
        <div class="upcoming-event">
            <h3>Upcoming Event</h3>
            <table>
                <tr>
                    <th class="table-monthly2">Date</th>
                    <th class="table-monthly2">Event</th>
                </tr>
                <tr>
                    <td>February 1st Saturday</td>
            <td>First Saturday</td>
                </tr>
                <tr>
            <td>Feb. 2nd Sunday</td>
            <td>Presentation of the Lord/ Thanksgiving Sunday</td>
        </tr>
            </table>
            <a href="/event" class="btn btn-view-more mb-1 mb-0">View more</a>
        <hr>
        </div>

        <div class="aside-content-1">
            <h3>Mass Schedule</h3>
            <table class="mass-schedule">
                <tr>
                    <th>Days</th>
                    <th>Time</th>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td>7a.m &amp; 9a.m</td>
                </tr>
                <tr>
                    <td>Monday</td>
                    <td>6a.m</td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>6a.m</td>
                </tr>
                <tr>
                    <td>Wednessday</td>
                    <td>7pm</td>
                </tr>
            </table>

            <a href="/mass-schedule" class="btn btn-view-more">View more</a>
            <hr>
        </div>

        <div class="announcement">
            <h3>Announcement</h3>
            <p> we wish to thank all the people
         who help us in cleaning the church last week.
         <br>This week it will be the turn of the st. Vincent the Paul, 
         Immaculate ...</p>
            <a href="/announcement" class="btn btn-view-more">View more</a>

        </div>
        
    </aside>
</div>