<section class="container">
    <h1>Parish</h1>
    <section class="section-info">
        <div>
            <p>
                Local Ordinary <br>
His Lordship Most Rev. Camillus Etokudoh <br>
Auxiliary Bishop <br>
His Lordship Most Rev. Dr. Patrick Eluke <br>
            </p><br>
            <hr><br>
            <p>
                Parish Priest <br>
Rev. Fr. Justin Njoku <br>
08181805554 <br>
            </p><br><hr><br>
        </div>
        <div>
             <p>
                Parish Catechist <br>
Jerry Akonriuwa <br>
07066195755 <br>
            </p><br><hr><br>
            <p>
                Ass. Parish Catechist <br>
Charles Uffot <br>
08060215371 <br>
            </p><br><hr>
            <br>
        </div>
    </section>
    <section class="section-info">
        <div>
            <h2>PARISH SOCIETIES/ORGANIZATIONS</h2>
            <hr><br>
            <table>
                <tr>
                    <th>LAITY COUNCIL</th>
                </tr>
                <tr>
                    <td>President</td>
                    <td>Comrade Cyprian Ighalo</td>
                    <td>07037597096</td>
                </tr>
                <tr>
                    <td>Secretary</td>
                    <td>Eche Anyanwu</td>
                    <td>08038809039</td>
                </tr>
            </table>
            <p>
            Days of meeting: Every 2nd Sunday of the Month after 10am Mass
            </p>
            <br><hr><br>
            <table>
                <tr>
                    <th>CATHOLIC MEN ORGANIZATION</th>
                </tr>
                <tr>
                    <td>General President</td>
                    <td>Mr. Elochukwu Emmanuel Obiora</td>
                    <td>08033172138</td>
                </tr>
                <tr>
                    <td>General Secretary</td>
                    <td>Com. Cyprian Ighalo</td>
                    <td>07037597096</td>
                </tr>
            </table>
            <p>
                Days of meeting: Last Sunday of the Month
Time: 12 noon
            </p><br><hr><br>
            <table>
                 <tr>
                    <th>C.M.O GROUPS</th>
                </tr>
            </table><br>
            <table>
                <tr>
                <th class="table-monthly2">Name of Group:</th>
                <th class="table-monthly2">ST. PATRICK</th>
                </tr>
                <tr>
                    <td>Group Leader</td>
                    <td>Mr. Uche Okpara</td>
                    <td>08037543012</td>
                </tr>
                <tr>
                    <td>Secretary</td>
                    <td>Mr. Jude Mene</td>
                    <td>08063889190</td>
                </tr>
            </table>
            <br>
            <table>
                <tr>
                    <th class="table-monthly2">Name of Group</th>
                    <th class="table-monthly2">ST. PETER</th>
                </tr>
                <tr>
                    <td>Group Leader</td>
                    <td>Mr. Don-Okite</td>
                    <td>08033799638</td>
                </tr>
                <tr>
                    <td>Secretary</td>
                    <td>Mr. Mike Ekwenuya</td>
                    <td>08038828951</td>
                </tr>
            </table>
            <br>
            <table>
                <tr>
                    <th class="table-monthly2">Name of Group</th>
                    <th class="table-monthly2">ST. JOSEPH</th>
                </tr>
                <tr>
                    <td>Group Leader</td>
                    <td>Mr. Martins Ugwuneke</td>
                    <td>08037103335</td>
                </tr>
                <tr>
                    <td>Secretary</td>
                    <td>Mr. Innocent Baridura</td>
                    <td>08039376926</td>
                </tr>
            </table>
        </div>
        <div><hr><br>
             <table>
                <tr>
                    <th>CATHOLIC WOMEN ORGANIZATION</th>
                </tr>
                <tr>
                    <td>General President</td>
                    <td>Lady Nora Inyang</td>
                    <td>08036744284</td>
                </tr>
                <tr>
                    <td>Vice President</td>
                    <td>Mrs Esther Odion </td>
                    <td>08056611945</td>
                </tr>
                <tr>
                    <td>General Secretary</td>
                    <td>Mrs. Esther Eze-Okafor</td>
                    <td>07068773013</td>
                </tr>
            </table>
            <p>
                Days of meeting: Every 1st Saturday by 7am <br>
                Prayer meeting: 2nd Tuesday of the month by 6pm
            </p><br><hr><br>
            <table>
                 <tr>
                    <th>C.W.O GROUPS</th>
                </tr>
            </table><br>
            <table>
                <tr>
                <th class="table-monthly2">Name of Group:</th>
                <th class="table-monthly2">ST. CECILIA</th>
                </tr>
                <tr>
                    <td>Group Leader</td>
                    <td>Mrs. Patricia Eshikalam</td>
                    <td>08035088538</td>
                </tr>
                <tr>
                    <td>Secretary</td>
                    <td>Mrs. Chidinma Okite</td>
                    <td>08030707032</td>
                </tr>
            </table>
            <br>
            <table>
                <tr>
                    <th class="table-monthly2">Name of Group</th>
                    <th class="table-monthly2">ST. MONICA</th>
                </tr>
                <tr>
                    <td>Group Leader</td>
                    <td>Mrs. Ola Abba</td>
                    <td>07061127434</td>
                </tr>
                <tr>
                    <td>Secretary</td>
                    <td>Mrs. Jennifer Okoliko</td>
                    <td>08066990313</td>
                </tr>
            </table>
            <br>
            <table>
                <tr>
                    <th class="table-monthly2">Name of Group</th>
                    <th class="table-monthly2">ST. MARY</th>
                </tr>
                <tr>
                    <td>Group Leader</td>
                    <td>Mrs. Angela Dengwat</td>
                    <td>08156881339</td>
                </tr>
                <tr>
                    <td>Secretary</td>
                    <td>Mrs. Agatha Okafor</td>
                    <td>08079405784</td>
                </tr>
            </table>
            <table>
                <tr>
                    <th class="table-monthly2">Name of Group</th>
                    <th class="table-monthly2">ST. RITA</th>
                </tr>
                <tr>
                    <td>Group Leader</td>
                    <td>Mrs. Aniefiok Awu</td>
                    <td>08037755142</td>
                </tr>
                <tr>
                    <td>Secretary</td>
                    <td>Amaka Ubah</td>
                    <td>08036685399</td>
                </tr>
            </table>
        </div>
    </section>
    <section class="section-info">
        <div>
            <table>
                <tr>
                    <th>CATHOLIC YOUTH ORGANIZATION OF NIGERIA</th>
                </tr>
                <tr>
                    <td>President</td>
                    <td>Mr. Sylvester Teyira</td>
                    <td>08170219212</td>
                </tr>
                <tr>
                    <td>Secretary</td>
                    <td>Mr. Collins Akus</td>
                    <td>08038332992</td>
                </tr>
            </table>
            <p>
                General Meeting: 4th Sunday of the Month <br>
Prayer Meetings: First Tuesday of the Month <br>
Sanitation/Sports: Saturday s by 8am and Thursdays by 4pm <br>
            </p>
            <br><hr><br>
            <table>
                <tr>
                    <th>LEGION OF MARY</th>
                </tr>
            </table><br>
            <table>
                <tr>
                    <th class="table-monthly1">Praesidium</th>
                    <th class="table-monthly1">Our Lady Mediatrix of Graces</th>
                </tr>
                <tr>
                    <td>President:</td>
                    <td>Sis. Onyinyechi Nwakohu</td>
                    <td>08067664501</td>
                </tr>
                <tr>
                    <td>Secretary:</td>
                    <td>Sis. Lydia Ukwe</td>
                    <td>08038401088</td>
                </tr>
            </table>
            <table>
                <tr>
                    <th class="table-monthly1">Praesidium</th>
                    <th class="table-monthly1">Our Lady Virgin of Virgins</th>
                </tr>
                <tr>
                    <td>President:</td>
                    <td>Bro. Donatus Simon</td>
                    <td>08054514174</td>
                </tr>
                <tr>
                    <td>Secretary:</td>
                    <td>Sis. Ogbe Felicity</td>
                    <td>09068284401</td>
                </tr>
            </table>
            <table>
                <tr>
                    <th class="table-monthly1">Praesidium</th>
                    <th class="table-monthly1">Our Lady Queen of Angels</th>
                </tr>
                <tr>
                    <td>President:</td>
                    <td>Bro. Oshiote Benedict Mary</td>
                    <td>08060242919</td>
                </tr>
                <tr>
                    <td>Secretary:</td>
                    <td>Sis. Catherine Mary Amobi</td>
                    <td>08163202129</td>
                </tr>
            </table>
            <table>
                <tr>
                    <th class="table-monthly1">Praesidium</th>
                    <th class="table-monthly1">Our Lady Help of Christians Junior Praesidium</th>
                </tr>
                <tr>
                    <td>President:</td>
                    <td>Bro. Owuamanan Stanley</td>
                    <td>07039793419</td>
                </tr>
                <tr>
                    <td>Secretary:</td>
                    <td>Sis. Chidinma Nwokem</td>
                    <td>08065165566</td>
                </tr>
            </table>
            <p>Meeting Days: Every Sunday after 7am Mass</p><br><hr>
        </div>
        <div>
            <table>
                <tr>
                    <th>DIVINE MERCY PRAYER GROUP</th>
                </tr>
                <tr>
                    <td>President</td>
                    <td>Mr. Elochukwu Anielobi</td>
                    <td>08060679568</td>
                </tr>
                <tr>
                    <td>Secretary</td>
                    <td>Mr. Benedict Ivhiagboya</td>
                    <td>07063126915</td>
                </tr>
            </table>
            <p>
                Prayer day: Every day by 3pm in the Chapel <br>
Novena: Every 1st to 9th of Every Month <br>
Cenacle meeting: Every Saturday after 3pm Prayer <br>
            </p><br>
            <hr><br>
            <table>
                <tr>
                    <th>MINISTERS OF HOSPITALITY</th>
                </tr>
                <tr>
                    <td>President:</td>
                    <td>Bro. Gabriel Asikpo</td>
                    <td>08033002941</td>
                </tr>
                <tr>
                    <td>Secretary</td>
                    <td>Bro. Douglas-Maria Bisong</td>
                    <td>07031214247</td>
                </tr>
            </table>
            <p>
                Church Cleaning/Arrangement – Every Saturday by 5pm <br>
General Meeting: 2nd Saturday of Every Month by 5pm <br>
            </p><br>
            <hr><br>
            
            <table>
                <tr>
                    <th>SACRED HEART OF JESUS AND IMMACULATE HEART OF MARY</th>
                </tr>
                <tr>
                    <td>President</td>
                    <td>Mrs. Amaka Eucheria Uzoekwelu</td>
                    <td>08036326205</td>
                </tr>
                <tr>
                    <td>Secretary</td>
                    <td>Sis. Stella Ihenebo</td>
                    <td>08038140308</td>
                </tr>
            </table>
            <p>
                Weekly Adoration: Thursdays by 5pm at the Chapel <br>
First Friday Adoration by 5pm at the Chapel <br>
First Saturday Adoration after 7am mass at the Chapel

            </p>
        </div>
    </section>
    <section class="section-info">
        <div>
            <table>
                <tr>
                    <th>LAY READERS ASSOCIATION</th>
                </tr>
                <tr>
                    <td>President</td>
                    <td>Bro. Osagie</td>
                    <td>08039318224</td>
                </tr>
                <tr>
                    <td>Secretary</td>
                    <td>Sis. Evelyn Kere-Jude</td>
                    <td>09063513663</td>
                </tr>
            </table>
            <p>
                Practice days: every Saturday by 5pm <br>
General meeting: Last Saturday of Every month by 5pm <br>
            </p><br>
            <hr><br>
            <table>
                <tr>
                    <th>ALTAR DECORATORS ASSOCIATION</th>
                </tr>
                <tr>
                    <td>Leader</td>
                    <td>Mrs. Princess Bisong</td>
                    <td>07032128199</td>
                </tr>
            </table>
            <p>Meeting day: 2nd Sunday of Every Month after 10am Mass</p>
            <br><hr><br>
            <table>
                <tr>
                    <th>CATHOLIC CHARISMATIC RENEWAL OF NIGERIA</th>
                </tr>
                <tr>
                    <td>Co-ordinator</td>
                    <td>Bro. Nweke I. Felix</td>
                    <td>08063816174</td>
                </tr>
                <tr>
                    <td>Secretary</td>
                    <td>Sis. Rosemary Okafor</td>
                    <td>Nill</td>
                </tr>
            </table>
            <p>
                Prayer meeting: Mondays 6pm – 8:30pm <br>
Ministries meeting/foundation class – Tuesdays 6pm to 8:30pm <br>
Bible study: Thursdays 6pm – 8:30pm <br>
2nd Monday of Every Month: Night of Encounter with Christ the King – 6pm – 8:30pm <br>
            </p><br>
            <hr><br>
            <table>
                <tr>
                    <th>THE SOCIETY OF THE MIRACULOUS INFANT JESUS</th>
                </tr>
                <tr>
                    <td>President</td>
                    <td>Victoria Akpabio</td>
                    <td>08060606686</td>
                </tr>
                <tr>
                    <td>Vice President</td>
                    <td>Mrs Onyi Pascal</td>
                    <td>08108177331</td>
                </tr>
                <tr>
                    <td>Secretary</td>
                    <td>Mrs. Sonia Nwankwo</td>
                    <td>08038739657</td>
                </tr>
            </table>
            <p>
                General Meeting Days: 25th of Every Month <br>
Nine Days Novena: 16th – 24th of Every Month
            </p><br>
            <hr><br>
            <table>
                <tr>
                    <th>APOSTOLATE OF THE MOST PRECIOUS BLOOD OF JESUS CHRIST</th>
                </tr>
                <tr>
                    <td>President</td>
                    <td>Catherine Egbo</td>
                </tr>
                <tr>
                    <td>Secretary</td>
                    <td>Ibekwe Isita</td>
                </tr>
            </table>
            <p>
                Activities:  <br>
Every Thursday Night: Gethsemane Hour 11pm to 3am <br>
General meeting: Every First Sunday after 10am Mass <br>
            </p>
        </div>
        <div>
            <hr><br>
             <table>
                <tr>
                    <th>OUR LADY OF PERPETUAL HELP</th>
                </tr>
                <tr>
                    <td>President</td>
                    <td>Mrs. Francisca Enechukwu</td>
                    <td>08064947900</td>
                </tr>
                <tr>
                    <td>Secretary</td>
                    <td>Bro. Stanley Onumaechi</td>
                    <td>08061227765</td>
                </tr>
            </table>
            <p>
                Prayer Meeting days: Every Monday by 5pm at the Grotto <br>
Novena: 1st – 9th of Every Month
            </p><br>
            <hr><br>
            <table>
                <tr>
                    <th>ALTAR SERVERS</th>
                </tr>
                <tr>
                    <td>President</td>
                    <td>Bro John Friday</td>
                    <td>08086924400</td>
                </tr>
                <tr>
                    <td>Vice President</td>
                    <td>Emmanuel Thompson</td>
                    <td>08071809633</td>
                </tr>
                <tr>
                    <td>Secretary</td>
                    <td>Victor Uzoma</td>
                    <td>Nill</td>
                </tr>
            </table>
            <p>
                Practice days: Every Saturday Morning after Mass <br>
Lecture days: Every Friday by 4pm <br>
General Meeting: Every First Sunday after 10am Mass
            </p><br>
            <hr><br>
            <table>
                <tr>
                    <th>CBIU</th>
                </tr>
                <tr>
                    <td>President</td>
                    <td>Sis. Rita Oyiloha</td>
                    <td>07065946815</td>
                </tr>
                <tr>
                    <td>Secretary</td>
                    <td>Mrs. Helen Pam</td>
                    <td>07067399132</td>
                </tr>
            </table>
            <p>Bible study: Every Sunday after 10am Mass</p><br>
            <hr><br>
            <table>
                <tr>
                    <th>CHOIR</th>
                </tr>
                <tr>
                    <td>President</td>
                    <td>Mr. Amobi Obodoechi</td>
                    <td>08037050865</td>
                </tr>
                <tr>
                    <td>Secretary</td>
                    <td>Sis. Ann Akwusiemoke</td>
                    <td>Nill</td>
                </tr>
            </table>
            <p>
                Practice days: Mondays, Thursdays, 6:30pm
Saturdays, 4pm <br>
General meeting: First Sunday of Every Month after 10am Mass
            </p><br>
            <hr><br>
            <table>
                <tr>
                    <th>PURGATORIAN SOCIETY</th>
                </tr>
                <tr>
                    <td>President</td>
                    <td>Linda Chiweuba</td>
                </tr>
            </table>
            <p>Prayer meeting: Every Thursday by 5pm</p><br>
            <hr><br>
            <table>
                <tr>
                    <th>St. Vincent De Paul</th>
                </tr>
                <tr>
                    <td>President</td>
                    <td>Mr. Awu Peter</td>
                    <td>08035065452</td>
                </tr>
                <tr>
                    <td>Secretary</td>
                    <td>Nwamaka Osugo</td>
                    <td>08035427014</td>
                </tr>
            </table>
            <p>Meeting Day: Every Sunday after 10am Mass</p><br>
            <hr><br>
            <table>
                <tr>
                    <th>M.O.D</th>
                </tr>
                <tr>
                    <td>President</td>
                    <td>Mayhew Henry</td>
                    <td>07037193140</td>
                </tr>
            </table>
            <p>
                Prayer Meeting: Tuesdays 6:30pm <br>
Practice days: Thursdays and Saturdays by 6pm <br>
Meeting day: Every 3rd Sunday of the Month after 10am Mass
            </p><br><hr>
            <br>
            <table>
                <tr>
                    <th>BLOCK ROSARY CRUSADE</th>
                </tr>
            </table>
            <p>
                Prayer meeting: Tuesdays, Thursdays and Saturdays 5:30pm to 6:30pm <br>
Venue: 11 Ejekwu Street Eliminigwe Estate
            </p>
        </div>
    </section>
    <section class="section-info">
        <div>
            <hr><br>
            <h2>PARISH ACCOUNT NUMBERS</h2>
            <p>
             Bank: 			UNION BANK <br>
Account Name: 	Christ The King Catholic Church <br>
Account Number:  	0026264964 
            </p><br>
            <hr>
        </div>
        <div>
            <hr><br>
            <p>
                Bank: 			UBA <br>
Account Name: 	Christ The King Catholic Church <br>
Account Number: 	1011263938
            </p><br><hr><br>
            Union Bank POS available at the Parish Office
        </div>
    </section>
    <div class="church-footer">
        <p><b>Have you considered to build a house for the Lord?
             Make a decision; take a wise step and contribute to
              the building of a befitting 
            dwelling place for the Lord. You will be richly blessed.</b></p>
    </div>
</section>