<section class="container">
     <h1>Parish Activities</h1>
    <section class="section-info">
        <div>
        <h3>WEEKDAY MASSES</h3>
<table class="mass-schedule">
                <tr>
                    <th>Days</th>
                    <th>Time</th>
                </tr>
                <tr>
                    <td>Monday</td>
                    <td>6pm</td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>6am &amp; 6pm</td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td>6pm</td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>6am &amp; 6pm</td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td>6pm</td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td>7am</td>
                </tr>
            </table>
    </div>
    <div>
       <h3>EUCHARISTIC ADORATION</h3>
       <table class="mass-schedule">
                <tr>
                    <th>Days</th>
                    <th>Time</th>
                </tr>
                <tr>
                    <td>Every Wednesdays</td>
                    <td>5:30-8:30pm</td>
                </tr>
                <tr>
                    <td>First Friday of every month</td>
                    <td>5:30pm</td>
                </tr>
       </table>
       <br>
       <br>
       <h3>PARISH NIGHT VIGIL</h3>
        <table class="mass-schedule">
            <tr>
                <th>Day</th>
                <th>Time</th>
            </tr>
            <tr>
                <td>Every Last Friday of the month</td>
                <td>10pm till dawn</td>
            </tr>
        </table>
    </div>
    </section>
    <section class="section-info">
        <div>
            <h3>SUNDAY MASSES </h3>
            <table class="mass-schedule">
                <tr>
                    <th>Mass</th>
                    <th>Time</th>
                </tr>
                <tr>
                    <td>Adult mass</td>
                    <td>7am, 10am &amp; 6pm</td>
                </tr>
                <tr>
                    <td>Children Mass</td>
                    <td>7:15 &amp; 10am</td>
                </tr>
            </table>
            <br><br>
            <h3>CONFESSION</h3>
            <table class="mass-schedule">
                <tr>
                    <th>Days</th>
                    <th>Time</th>
                </tr>
                <tr>
                    <td>Wednesdays</td>
                    <td>5pm</td>
                </tr>
                <tr>
                    <td>Saturdays</td>
                    <td>5pm</td>
                </tr>
            </table>
            <br><br>
            <table class="mass-schedule">
                <tr class="th-border">
                    <td>PARISH GENERAL THANKSGIVING SUNDAY</td>
                    <td>Every First Sunday Of the Month</td>
                </tr>
                <tr class="th-border">
                  <td>PARISH EFFORT SUNDAY </td>
                  <td>Every Second Sunday of the month</td>  
                </tr>
                <tr class="th-border">
                    <td>Doctrinal Class</td>
                    <td>Every Third Sunday of the Month</td>
                </tr>
            </table><br>
            <h3>MARRIAGE INSTRUCTION</h3>
        <table class="mass-schedule">
            <tr>
                <th>Day</th>
                <th>Time</th>
            </tr>
            <tr>
                <td>Mondays and Tuesdays </td>
                <td>After Evening Mass</td>
            </tr>
        </table>
        </div>
        <div>
            <p><b>N/B:</b> Duration of marriage course is 10 weeks minimum
                 (no fixing of wedding date till marriage course is completed)</p>
                 <br><br>
            <h3>INFANT BAPTISM</h3>
            Every third Saturday of the month<br>
            <p>
               <b>N/B</b> 
                <ul>
                    <li>   Obtain forms from the parish office</li>
                    <li>   Forms must be submitted (1) week before the baptism</pre></li>
                    <li>   Parents must be practicing Catholics</li>
                    <li>   Sponsors must be confirmed Catholics</li>
                </ul>
                <b>A COMPULSORY PRE-BAPTISM INSTRUCTION FOR PARENTS AND SPONSORS
                     HOLDS Thursday preceding the 3rd Saturday of the month.</b>
            </p>
        <br>
        <h3>OFFICE DAYS</h3>
        <table class="mass-schedule">
            <tr>
                <th>Office</th>
                <th>Days</th>
                <th>Time</th>
            </tr>
            <tr>
                <td>Parish Priest</td>
                <td>Tuesdays and Thursdays</td>
                <td>9am to 1pm &amp; 4pm to 7pm</td>
            </tr>
            <tr>
                <td>Catechis</td>
                <td>Mondays, Wednesdays and Fridays</td>
                <td></td>
            </tr>
            <tr>
                <td>Secretary’s office</td>
                <td>Monday to Friday </td>
                <td>8am to 4pm</td>
            </tr>
        </table>
        </div>
    </section>
</section>