<section class="container">
    <section class="section-info">
        <h2>Prayer</h2>
        <h3>This Page Is Under Construction</h3>   
    </section>
    <section class="section-info">
        <div>
            <hr><br>
            <h2>PARISH ACCOUNT NUMBERS</h2>
            <p>
             Bank: 			UNION BANK <br>
Account Name: 	Christ The King Catholic Church <br>
Account Number:  	0026264964 
            </p><br>
            <hr>
        </div>
        <div>
            <hr><br>
            <p>
                Bank: 			UBA <br>
Account Name: 	Christ The King Catholic Church <br>
Account Number: 	1011263938
            </p><br><hr><br>
            Union Bank POS available at the Parish Office
        </div>
    </section>
    <div class="church-footer">
        <p><b>Have you considered to build a house for the Lord?
             Make a decision; take a wise step and contribute to
              the building of a befitting 
            dwelling place for the Lord. You will be richly blessed.</b></p>
    </div>
</section>